AK/Архитектура компьютеров/3 курс/Exe/SiSoft Sandra 2001 Professional/Examples/ReportSchema.dtd


<!ELEMENT Title  (#PCDATA)>
<!ELEMENT Value  (#PCDATA)>
<!ELEMENT Icon   (#PCDATA)>
<!ELEMENT Format (#PCDATA)>

<!ELEMENT InfoItem (Title, Icon, Format, Value)>
<!ELEMENT InfoGroup (Title, Icon, InfoItem+)>
<!ELEMENT Device (Title, Icon, InfoGroup+)>
<!ELEMENT DeviceClass (Title, Icon, Device+)>
<!ELEMENT Module (Title, DeviceClass*, Device*, InfoGroup*, InfoItem*)>

<!ELEMENT Report (Module+)>






